<div data-role="header" data-theme="d">
  <h1>Sign in</h1>
  <%= link_to 'Home', root_path, "class" => "ui-btn-right", "data-icon" => "home" %>
</div>

<div data-role="content" data-theme="d"> 
	<p> You are now signed in</p>
</div>